.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  position: relative;
  cursor: pointer;
}

.label {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  color: white;
  cursor: crosshair;
}
