.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  position: relative;
}

.label {
  position: absolute;
  height: 50px;
  width: 50px;
  margin: -25px 0 0 -25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
